<h2>Menu</h2>
<h3>User functions</h3>
<ul>
  <li><a href="/users/new">New user (Sign up)</a></li>
  <li><a href="">Login</a></li>
  <li><a href="/users">All users</a></li>
  <li><a href="/users/delete">Delete user</a></li>
</ul>
<h3>Story functions</h3>
<ul>
  <li><a href="/stories">List stories by user</a></li>
  <li><a href="/stories/new">Create a new story (user must be logged in and story belongs to this user)</a></li>
  <li><a href="/stories/find">Look up all stories from specific user</a></li>
  <li><a href="/stories/select">Delete or update title of a story</a></li>
</ul>