<h2>Menu</h2>
<ul>
  <li><a href="/users/new">New user (Sign up)</li>
  <li><a href="">Login</li>
  <li><a href="/users">All users</li>
  <li><a href="/users/select">Delete user</li>
  <li><a href="/users/update">Update users</li>
</ul>