
<div class="userlist">
  <h2>All users<h2>
    <ul>
      <% User.all.each do |user|%>
      <li> <%= user.id %> - <%= user.name %> - <%= user.email %> - <%= user.password %> </li>  
      <% end %>
    </ul>
  </div>
    
  <div class="deleteuser">
    <form action="user/:id" method="post">
      <label for="id">Enter id to delete:</label>
      <input type="text" name="id">
      
      <input type="hidden" name="_method" value="delete">

      <input type="submit">  
    </form>
  </div>
  
  <div class="updateuser">
    <form action="user/:id/edit" method="post">
      <label for="id">Enter id to update:</label>
      <input type="text" name="id">
          
      <input type="hidden" name="_method" value="put">
      <input type="submit">  
    </form>
  </div>